body {
	height: 100%;
}

#arcade404Title {
	margin-left: -10%;
	position: absolute;
	width: 20%;
	top: 0;
	left: 50%;
}

#board {
	position: relative;
	margin-top: -33px;
	margin-left: -33px;
	left: 50%;
	top: 50%;
	width: 63px;
	height: 63px;
	border: 2px solid black;
}

#scene {
	position: absolute;
	margin-top: -62px;
	margin-left: -62px;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	border: 2px solid black;
}

#gameHistory {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 100%;
	background-color: black;
}

.gameRound {
	position: relative;
	left: 50%;
	margin-left: -63px;
	width: 120px;
	height: 120px;
	border: 2px solid black;
}

.square {
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	background-color: white;
	
}

#output {
	position: relative;
	margin-top: -85px;
	margin-left: -25px;
	left: 50%;
	top: 50%;
}

#X {
	padding: 5px;
	width: 120px;
	height: 15px;
}

#O {
	padding: 5px;
	width: 120px;
	height: 15px;
}

.currentTurn {
	color: white;
	background-color: black;
	/*border: 1px solid black;*/
}

#reset {
	padding: 4px;
	width: 120px;
	height: 15px;
	border: 1px solid black
}

