@font-face {
    font-family: 'zoinkfatregular';
    src: url('fonts/zoinkfat-webfont.eot');
    src: url('fonts/zoinkfat-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zoinkfat-webfont.woff') format('woff'),
         url('fonts/zoinkfat-webfont.ttf') format('truetype'),
         url('fonts/zoinkfat-webfont.svg#zoinkfatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BubbleBoy2Regular';
    src: url('fonts/bubbleboy2.eot');
    src: url('fonts/bubbleboy2.eot') format('embedded-opentype'),
         url('fonts/bubbleboy2.woff') format('woff'),
         url('fonts/bubbleboy2.ttf') format('truetype'),
         url('fonts/bubbleboy2.svg#BubbleBoy2Regular') format('svg');
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;

	/* IE10 Consumer Preview */ 
	/*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Mozilla Firefox */ 
	/*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Opera */ 
	/*background-image: -o-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Webkit (Safari/Chrome 10) */ 
	/*background-image: -webkit-gradient(radial, center center, 0, center center, 499, color-stop(0, #0DA6FF), color-stop(1, #1000EF));*/
}

.bubble {
	font-family: "BubbleBoy2Regular";
}

/* -- START SCREEN -- */
	#startScreen {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #00abe9;

		overflow: hidden;
	}

	#startScreenTitle {
		position: absolute;
		display: block;

		top: 10%;
		left: 0;
		right: 0;
		width: 80%;
		max-width: 700px;
		margin: 0 auto;
	}

	#startScreenBackground {
		position: absolute;
		display: block;

		left: 0;
		right: 0;
		height: 100%;
		margin: 0 auto;

		min-height: 500px;
	}

	/* -- buttons -- */
		.button {
			background: rgb(30,87,153); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
		}

		#buttonWrapper {
			display: block;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 50%;

			width: 500px;
			height: 500px;
			border: 1px solid black;
		}

		#buttonPositioning1 {
			display: inline-block;
			position: absolute;

			width: 220px;
			height: 50px;
		}

		#buttonPositioning2 {
			display: inline-block;
			position: absolute;

			width: 220px;
			height: 50px;
		}

		#buttonPositioning3 {
			display: inline-block;
			position: absolute;

			width: 220px;
			height: 50px;
		}

		#start {
			display: inline-block;
			position: absolute;

			left: 50%;
			margin-left: -50px;
			margin-top: 20px;

			font-family: "BubbleBoy2Regular";
			font-size: 25px;
			color: yellow;

		}

		#rules {
			display: inline-block;
			position: absolute;

			left: 50%;
			margin-left: -40px;
			margin-top: 20px;

			font-family: "BubbleBoy2Regular";
			font-size: 25px;
			color: yellow;
		}

		#settings {
			display: inline-block;
			position: absolute;

			left: 50%;
			margin-left: -75px;
			margin-top: 20px;

			font-family: "BubbleBoy2Regular";
			font-size: 25px;
			color: yellow;
		}

/* -- MAIN GAME -- */

	
	/* -- buttons -- */
		#fizzButton1 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			right: 60px;
		}

		#fizzBuzzButton2 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			right: 0;
		}

		#buzzButton3 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 60px;
			right: 0;
		}

		#skipButton4 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			left: 0px;
		}

		/* -- buttons icons -- */

			.centerToButton {
				margin-left: 15px;
				margin-top: 25px;
			}

	/* -- MAIN GAME background -- */

		.background-placement {
			display: block;
			position: absolute;

			overflow: hidden;
			margin: 0 auto;
			height: 100%;
			z-index: -10;
		}



#currentNumber { 
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top:-50px;

	font-family: 'zoinkfatregular';
	font-size: 90px;
	color: black;
}

#scoreTitle {
	display: inline-block;
	position: absolute;
	top: 5px;
	left:10px;

	font-family: 'BubbleBoy2Regular';
	font-size: 20px;
	color: #30EF00;
}

#scoreNumber {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 20px;
	margin-left: 60px;

	font-family: 'BubbleBoy2Regular';
	font-size: 20px;
	color: #30EF00;
}