@font-face {
    font-family: 'ChildPlayNormal';
    src: url('fonts/child.eot');
    src: url('fonts/child.eot') format('embedded-opentype'),
         url('fonts/child.woff') format('woff'),
         url('fonts/child.ttf') format('truetype'),
         url('fonts/child.svg#ChildPlayNormal') format('svg');
}

/*body {
	width: 100%;
	height: 100%;
}*/

#currentNumber { 
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top:-50px;

	font-family: "ChildPlayNormal";
	font-size: 90px;
}