@font-face {
    font-family: 'zoinkfatregular';
    src: url('fonts/zoinkfat-webfont.eot');
    src: url('fonts/zoinkfat-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zoinkfat-webfont.woff') format('woff'),
         url('fonts/zoinkfat-webfont.ttf') format('truetype'),
         url('fonts/zoinkfat-webfont.svg#zoinkfatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BubbleBoy2Regular';
    src: url('fonts/bubbleboy2.eot');
    src: url('fonts/bubbleboy2.eot') format('embedded-opentype'),
         url('fonts/bubbleboy2.woff') format('woff'),
         url('fonts/bubbleboy2.ttf') format('truetype'),
         url('fonts/bubbleboy2.svg#BubbleBoy2Regular') format('svg');
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;

	/* IE10 Consumer Preview */ 
	/*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Mozilla Firefox */ 
	/*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Opera */ 
	/*background-image: -o-radial-gradient(center, ellipse farthest-corner, #0DA6FF 0%, #1000EF 100%);*/
	/* Webkit (Safari/Chrome 10) */ 
	/*background-image: -webkit-gradient(radial, center center, 0, center center, 499, color-stop(0, #0DA6FF), color-stop(1, #1000EF));*/
}

.bubble {
	font-family: "BubbleBoy2Regular";
}

/* -- START SCREEN -- */
	#startScreen {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #00abe9;

		overflow: hidden;
	}

	#startScreenTitle {
		position: absolute;
		display: block;

		top: 10%;
		left: 0;
		right: 0;
		width: 80%;
		max-width: 700px;
		margin: 0 auto;
	}

	#startScreenBackground {
		position: absolute;
		display: block;

		left: 0;
		right: 0;
		height: 100%;
		margin: 0 auto;

		min-height: 500px;
	}

	/* -- buttons -- */

		#buttonWrapper {
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 30%;
			margin-top: 10%;

			width: 80%;
			height: 50%;
			/*border: 1px solid black;*/
		}

		#buttonWrapperCenter {
			position: absolute;
			display: block;
			width: 50%;
			height: 80%;
			margin: 0 auto;
			left: 0;
			right: 0;

			/*border: 1px solid black;*/
		}

		.button {
			position: relative;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 10px;

			width: 46.3%;
			height: 20%;
			/*border: 1px solid black;*/

			min-width: 270px;
		}

		/* -- button styling -- */

			.menuButtonStyle {
				-moz-box-shadow: 0px 6px 18px 1px #0d90bf;
				-webkit-box-shadow: 0px 6px 18px 1px #0d90bf;
				box-shadow: 0px 6px 18px 1px #0d90bf;
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cddae6), color-stop(1, #05c1fa) );
				background:-moz-linear-gradient( center top, #cddae6 5%, #05c1fa 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cddae6', endColorstr='#05c1fa');
				background-color:#cddae6;
				-moz-border-radius:15px;
				-webkit-border-radius:15px;
				border-radius:15px;
				border:4px solid #2d99f7;
				display:inline-block;
				color:#ffdd00;
				font-family:arial;
				font-size:46px;
				font-weight:bold;
				padding:0;
				text-decoration:none;
				text-shadow:1px 1px 0px #f0a638;

				margin: 0 auto;
				left: 0;
				right: 0;
			}

			.menuButtonStyle:hover {
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #05c1fa), color-stop(1, #cddae6) );
				background:-moz-linear-gradient( center top, #05c1fa 5%, #cddae6 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05c1fa', endColorstr='#cddae6');
				background-color:#05c1fa;
			}

			.menuButtonStyle:active {
				position:relative;
				top:1px;
			}


		.buttonSize {
			display: inline-block;
			position: absolute;

			width: 220px;
			height: 50px;
		}

		.menuTextStyling {
			display: inline-block;
			position: absolute;

			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			margin-top: 20px;

			font-family: "BubbleBoy2Regular";
			font-size: 25px;
			color: #fff900;

		}


/* -- MAIN GAME -- */

	
	/* -- buttons -- */
		.nav {
			display: block;
			background-color: #f7f7f7;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
			background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
			background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
			background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
			background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
			color: #a7a7a7;
			margin: 20px;
			width: 144px;
			height: 144px;
			position: relative;
			text-align: center;
			line-height: 144px;
			border-radius: 50%;
			box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
		}

		#fizzButton1 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			right: 60px;
		}

		#fizzBuzzButton2 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			right: 0;
		}

		#buzzButton3 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 60px;
			right: 0;
		}

		#skipButton4 {
			display: inline-block;
			position: absolute;

			width: 50px;
			height: 50px;

			bottom: 0;
			left: 0px;
		}

		/* -- MAIN GAME settings -- */

			#mainGameSettings {
				position: absolute;
				right: 0;
			}

			#settingsIcon {
				width: 30px;
				height: 30px;
				padding: 10px;
				opacity:0.4;
				filter:alpha(opacity=40);
			}

				#settingsIcon:hover {
					opacity:1.0;
					filter:alpha(opacity=100);
				}

			/* -- MAIN GAME settings options -- */
				#mainGameSettingsMenu {
					position: absolute;
					display: block;
					left: 0;
					right: 0;
					margin: 0 auto;
					width:40%;
					height: 40%;
					top: 50%;
					margin-top: -20%;
					border: 5px solid white;
					border-radius: 15px;
					background-color: black;
				}

				#mainGameSettingsWrapper {
					padding: 5%;
				}

				.settingMenuButtonStyling {
					position: block;
					left: 0;
					right: 0;
					margin: 0 auto;
					text-align: center;
					padding: 10%;
					color: #30EF00;
					left: 0;
					font-size: 20px;
				}

					.settingMenuButtonStyling:hover {
						color: #ffdd00;
					}

				#resume {

				}

				#mainMenu {

				}

				#rules {

				}



		/* -- buttons icons -- */

			.centerToButton {
				margin-top: -45px;
			}

	/* -- MAIN GAME background -- */

		.background-placement {
			display: block;
			position: absolute;

			overflow: hidden;
			margin: 0 auto;
			height: 100%;
			left: 0;
			right: 0;
			z-index: -10;
		}



#currentNumber { 
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 40%;

	font-family: 'zoinkfatregular';
	font-size: 90px;
	color: black;
}

#scoreTitle {
	display: inline-block;
	position: absolute;
	top: 25px;
	left:20px;

	font-family: 'BubbleBoy2Regular';
	font-size: 20px;
	color: #30EF00;
}

#scoreNumber {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 40px;
	margin-left: 60px;

	font-family: 'BubbleBoy2Regular';
	font-size: 20px;
	color: #30EF00;
}

#scorePlacement {
			position: absolute;
			background-color: black;
			margin-left: -15px;
			margin-top: -10px;
			border: 5px solid white;
			width: 200px;
			height: 50px;
			border-radius: 15px;
		}