body {
	position: fixed;
	width: 100%;
	background-color: green;
}

#gameSquare {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: 25%;
	width: 0;
	height: 0;
	background-color: white;
}

#timer {
	position: absolute;
	left: 0;
	height: 10px;
	width: 150px;
	margin: 5px;
	background-color: white;
}

#measureInput {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 150px;
	border: 1px solid black;
}