body {

}

#scene {
	height:100%;
	width: 100%;
}

#face {
	display: inline-block;
	position: absolute;
	width: 560px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-left: -280px;
	margin-top: -250px;

	border: 1px solid black;v

}

.layer1 {
	position: relative;
	width: 100px;

	left: 25px;
	top: 111px;

}

.layer2 {
	position: relative;
	width: 400px;

	left: 50%;
	top: 50%;

	margin-left: -200px;
	margin-top: -200px;

	/*border: 1px solid black;*/
}

.layer3 {
	position: relative;
	width: 100px;

	left: 0px;
	top: 0px;

}

.layer4 {
	position: relative;

	width: 100px;
	left: -140px;
	top: 46px;

}

.layer5 {
	position: relative;
	width: 100px;

	left: 0px;
	top: 0px;

}
.layer6 {
	position: relative;

	width: 148px;
	left: 101px;
	top: 145px;

}
.layer7 {
	position: relative;

	width: 50px;
	left: -2px;
	top: 70px;

}
.layer8 {
	position: relative;
	width: 100px;
	
	left: 0px;
	top: 150px;

}
.layer9 {
	position: relative;
	width: 100px;
	
	left: 0px;
	top: 150px;

}
.layer10 {
	position: relative;
	width: 100px;
	
	left: 0px;
	top: 300px;

}