body {

}

#scene {
	height:100%;
	width: 100%;
}

#shirt {
	top: 20px;
	position: relative;
	width: 500px;
	height: 700px;
	margin: 0 auto;
}

.layer1 {
	position: absolute;
	width: 500px;

	left: 0px;
	top: 0px;
	pointer-events: none;

}

.layer2 {
	position: absolute;
	background-image: url('../../assets/shirt_designs/CartPuff.png');
	-webkit-mask-box-image: url("../../assets/templates/shirt_1/white-essential_1_mask.svg");
	background-size: 50px;
	background-position: 10px 20px;
	background-repeat: repeat;
	/*
	-webkit-clip-path: polygon(0px 208px, 146.5px 207px, 147px 141.2px);
	*/
	width: 500px;
	height: 657px;

	margin-top: 0px;

	left: 0px;
	top: 0px;
	opacity:0.8;

	/*border: 1px solid black;*/
}

.layer3 {
	position: absolute;
	width: 500px;

	left: 0px;
	top: 0px;
	pointer-events: none;

}

.layer4 {
	position: absolute;
	width: 500px;

	left: 0px;
	top: 0px;
	opacity: 1;
	pointer-events: none;

}

#toolbar {
	position: fixed;
	width: 100%;
	height: 200px;
	bottom: 0;
	background-color: #272822; /* dark gray */
	opacity: 0.93;
}

.toolbar-division {
	position: relative;
	float: left;
	border: 1px solid gray;
	background-color: transparent;

	width: 33%;
	height: 100%;

	min-width: 275px;
}

.toolbar-attribute-wrapper {
	position: relative;
	display: inline-block;
	/*border: 1px solid white;*/
	width: 100%;
	left: 50%;
	margin-left: -50%;
	top: 30px;
}

.toolbar-button-title {
	position: relative;
	float: left;
	display: inline-block;
	padding: 10px 15px 6px 15px;
	margin: 15px 15px 15px 15px;
	border-radius: 20px;
	font-size: 13px;
	color: white;
	opacity: 0.95;
}

.toolbar-button {
	position: relative;
	display: inline-block;
	padding: 2px 15px 6px 15px;
	margin: 15px;
	border-radius: 20px;
	font-size: 13px;
}

.toolbar-attribute-state {
	position: relative;
	display: inline-block;
	padding: 2px 15px 6px 15px;
	margin: 15px 0px 15px 15px;
	border-radius: 20px;
	font-size: 13px;
	color: white;
	float: left;
}

.toolbar-background-size-slider {
	width: 150px;
	margin: 25px 0px 15px 15px;
}

.center-radio-buttons {
	position: relative;
	padding: 0px 25px 6px 2px;
	left: 50%;
	margin-left: -50px;
}

.current-image-src {
	position: relative;
	display: inline-block;
	height: 100px;
	left: 50%;
	margin-left: -70px;
	margin-top: 17px;
}

.image-surface {
	width: 90px;
	margin-left: -45px;
}