#playground {
	background: url(imgs/pixel_grid.jpg);
	width: 400px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

#ball {
	background: #fbb;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 150px;
	top: 100px;
	border-radius: 10px;
}

.paddle {
	background: #bbf;
	left: 50px;
	top: 70px;
	position: absolute;
	width: 30px;
	height: 70px;
}

#paddles {
	left: 320px;
}