#stage {
	position: relative;
	width: 384px;
	height: 384px;
	background-image: url("images/background.png");
}

.cell {
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
}

p {
	width: 400px;
}